.navbar{
    background-color: #3F3F3F; 
    height: 75px;
    
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.navbar-text{
    font-size: 40px;
    font-weight: 600;
    color: #EDEFEA;
}

img{
    height: 75px; 
    width: 70px;
    padding-top: 5px;
}