version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: expense-tracker-db
    environment:
      POSTGRES_DB: expense_tracker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: expense-tracker-backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  frontend:
    build: ./frontend/expense-tracker
    container_name: expense-tracker-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
      

volumes:
  pgdata:
